html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color:#1d1155;
    font-family: "Dela Gothic One", sans-serif;
}

/* Loading Screen */
#load_screen {
    height: 100vh;
}

#load_screen h1 {
    color: white;
    justify-self: center;
}

/* Navigation (during title page)*/
header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

#bg {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
}

.bubbles {
    position: absolute;
    z-index: -1;
}

#bubble1 {
    width: 12%;
    right: 0;
    padding: 2vw 9vw 0 0;
}

#bubble2 {
    width: 3%;
    right: 0;
    padding: 11vw 18vw;
}

#bubble3 {
    width: 12%;
    left: 0;
    bottom: 0;
    padding: 2vw 9vw;
}

header > div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

header nav {
    margin: auto;
    padding: 6vw 0;
    width: 0;
    overflow: hidden;
    background: rgba(44, 16, 116, 0.7);
    color: white;
    height: 100vh;
    transition: all 1s;
}

.visible_nav {
    width: 32vw;
}

header ol {
    width: 25vw;
    height: 100%;
    margin: auto 3vw;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 2.5vw;
}

header li {
    padding-bottom: 5vh;
}

header li a {
    color: rgb(212, 243, 245);
    white-space: nowrap;
    font-family: "chivo";
    font-weight: 700;
    text-decoration: none;
}

header li a:hover {
    font-weight: 900;
    font-size: 3vw;
    transition: all 0.5s;
}

#hamburger {
    position: absolute;
    width: 4vw;
    top: 0;
    right: 0;
    margin: 2vw;
    padding: 0;
}

/* Title */
#title {
    display: flex;
    margin: auto;
    padding: 2vw;
    width: 100%;
    height: 100vh;
    transform: translateY(-2vw);
}

#title_background_img {
    margin: auto;
    padding-bottom: 8vw;
    width: 60%;
    height: fit-content;
    float: left;
}

#title-text {
    margin: auto;
    transform: translateX(-60%);
    z-index: 0;
    min-width: 100%;
    right: 0;
    text-align: right;
    line-height: 10vw;
    color: rgb(96, 197, 167);
    mix-blend-mode:screen;
}

header div div h1 {
    font-size: 14vw;
    margin: 0;
    transition: all 1s;
}

.smallTitleH1 {
    font-size: 11vw;
}

header div div h2 {
    font-size: 4vw;
    margin: 0;
    transition: all 1s;
}

.smallTitleH2 {
    font-size: 3vw;
}

header hr {
    width: 25vw;
    margin-right: 0;
    margin-top: 0;
    border: 0.6vh solid rgb(96, 197, 167)
}

/* About us section */
main {
    display: grid;
    background: white;
    margin: 2vw;
    padding: 4vw;
    grid-template-areas: "profile title"
                         "profile para";
}

main h1 {
    grid-area: title;
    margin: 2vw auto 0 auto;
    padding-left: 4vw;
    font-size: 6vw;
    text-align: center;
}

main p {
    grid-area: para;
    margin: 2vw;
    margin-top: 0;
    padding-left: 4vw;
}

#profile {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    border-radius: 100%;
    border: 2vw solid black;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    grid-area: profile;
}

#profile h2 {
    position: absolute;
    z-index: 1;
    font-size: 2.5vw;
    text-align: center;
    word-wrap: break-word;
    width: 60%;
    margin: 0;
    padding: 5% 20%;
    color: white;
    background: rgb(0, 0, 0);
}