html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color:#1d1155;
    overflow: hidden;
    font-family: "Dela Gothic One", sans-serif;
}

/* Loading Screen */
#load_screen {
    height: 100vh;
}

#load_screen h1 {
    color: white;
    justify-self: center;
}

/* Navigation (during title page)*/
header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

#bg {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
}

.bubbles {
    position: absolute;
    z-index: -1;
}

#bubble1 {
    width: 12%;
    right: 0;
    padding: 2vw 9vw 0 0;
}

#bubble2 {
    width: 3%;
    right: 0;
    padding: 11vw 18vw;
}

#bubble3 {
    width: 12%;
    left: 0;
    bottom: 0;
    padding: 2vw 9vw;
}

header > div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

header nav {
    margin: auto;
    padding: 6vw 0;
    width: 0;
    overflow: hidden;
    background: rgba(44, 16, 116, 0.7);
    color: white;
    height: 100vh;
    transition: all 1s;
}

.visible_nav {
    width: 28vw;
}

header ol {
    width: 25vw;
    height: 100%;
    margin: auto 3vw;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 2.5vw;
}

header li {
    padding-bottom: 5vh;
}

header li a {
    color: rgb(212, 243, 245);
    white-space: nowrap;
    font-family: "chivo";
    font-weight: 700;
    text-decoration: none;
}

#hamburger {
    position: absolute;
    width: 4vw;
    top: 0;
    right: 0;
    margin: 2vw;
    padding: 0;
}

/* Title */
#title {
    display: flex;
    margin: auto;
    padding: 2vw;
    width: 100%;
    height: 100vh;
}

#title_background_img {
    margin: auto;
    padding-bottom: 8vw;
    width: 60%;
    height: fit-content;
    float: left;
}

#title-text {
    margin: auto;
    transform: translateX(-60%);
    z-index: 0;
    min-width: 100%;
    right: 0;
    text-align: right;
    line-height: 10vw;
    color: rgb(91, 192, 161);
    mix-blend-mode:screen;
}

header div div h1 {
    font-size: 15vw;
    margin: 0;
    transition: all 1s;
}

.smallTitleH1 {
    font-size: 12vw;
}

header div div h2 {
    font-size: 4vw;
    margin: 0;
    transition: all 1s;
}

.smallTitleH2 {
    font-size: 3vw;
}
