html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color:#1d1155;
    overflow: hidden;
}

/* Loading Screen */
#load_screen {
    height: 100vh;
}

#load_screen h1 {
    color: white;
    justify-self: center;
}

/* Navigation (during title page)*/
header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#bg {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

#bubble1 {
    position: absolute;
    z-index: -1;
    width: 12%;
    right: 0;
    padding: 2vw 9vw 0 0;
}

#bubble2 {
    position: absolute;
    z-index: -1;
    width: 3%;
    right: 0;
    padding: 11vw 18vw;
}

#bubble3 {
    position: absolute;
    z-index: -1;
    width: 12%;
    left: 0;
    bottom: 0;
    padding: 2vw 9vw;
}

header > div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

header nav {
    margin: auto;
    padding: 2vw;
    width: 25%;
    overflow: hidden;
    background: rgba(44, 16, 116, 0.7);
    color: white;
    height: 100vh;
}

header ol {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 3vw;
}

header li {
    padding-bottom: 5vh;
}

header li a {
    color: white;
    text-decoration: none;
}

#hamburger {
    width: 4vw;
    position: absolute;
    right: 0;
    margin: 1vw;
}

/* Title */
#title {
    margin: auto;
    margin-left: 8vw;
    width: 100%
}

#title_background_img {
    margin: auto;
    width: 55%;
    height: fit-content;
    float: left;
}

#title h1 {
    margin: auto 8vw auto auto;
    padding-top: 10%;
    position: absolute;
    z-index: 0;
    width: 75%;
    right: 0;
    text-align: right;
    line-height: 95%;
    font-size: 12.5vw;
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    mix-blend-mode: soft-light;
}
